
<head>
 <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <title>Projects - Brand</title>
    <link rel="stylesheet" href="{% static 'assets_books/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'assets_books/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EGI Students Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/ESHAN-LOGO-REDESIGN.png' %}" rel="icon">
  <link href="{% static 'assets/img/ESHAN-LOGO-REDESIGN.png' %}" rel="EGI">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4assets/owl.carousel.min.css"/>
    
   {% load static %}
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css" rel="stylesheet' %}">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    {% load static %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
  
        <a href="index.html" class="logo mr-auto"><img src="{% static 'assets/img/ESHAN-LOGO-REDESIGN.png' %}" alt="" class="img-fluid"></a>
        <h1 class="logo mr-auto"><a href="index.html"><span>EGI Students</span>Portal</a></h1>
        
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="{% url 'main' %}">Home</a></li>
  
  
            <li><a href="{% url 'sources' %}"> Resources </a></li>

            
            
            <li class="drop-down" ><a href="#">More</a>
                <ul>
                  
                   <li><a href="{% url 'frequently' %}"> Frequently asked Questions </a></li>
                    <li ><a href="{% url 'HOD' %}">Contact Your H.O.D.</a></li>
                    <li ><a href="https://docs.google.com/forms/d/e/1FAIpQLScAbHqVyjMI3R8f_nOkP1_fEOWH2OfecL5YCeGYvLcyucbEFA/viewform?usp=sf_link">Share Your Notes</a></li>
                    <li ><a href="#">Give Your Feedback</a></li>
                    <li ><a href="{% url 'signout' %}">LogOut</a></li>
                    <li><a href="{% url 'team' %}">About Us</a></li>
                </ul>
              </li>
              <li><a href="https://admission.eshancollege.com/">Official Website</a></li>
          </ul>
        </nav><!-- .nav-menu -->
  
        
  
      </div>
    </header><!-- End Header -->

  <main id="main">
<!-- End Header -->




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets_books/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets_books/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets_books/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static 'assets_books/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets_books/css/Table-with-search-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets_books/css/Table-with-search.css' %}">
</head>

<body>
           <main id="main">

    <!-- ======= Breadcrumbs ======= -->
   
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          
          <h2>Find Your Book </h2>
          <ol>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li>Course</li>
          </ol>
        </div>



      </div>
    </section><!-- End Breadcrumbs -->

        <!-- course section start -->

        <p></p>


<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Type name of Book, Author, pub...">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-5 col-xs-5">Book's Name</th>
      <th class="col-md-4 col-xs-4">Author</th>
      <th class="col-md-3 col-xs-3">For Students</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Electronic Device & circuit theory</td>
      <td>Robert L.B. & Luis Nashelsky</td>
      <td>B.Tech</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Computer organisation </td>
      <td>Moris Mano</td>
      <td>B.Tech CSE</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Discrete Mathematics </td>
      <td>Swapan Kumar </td>
      <td>B.tech CSE</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Technical Communication </td>
      <td>Mennakshi Raman & Sangeeta Sharma </td>
      <td>B.Tech</td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td>Data Structures </td>
      <td>Seymour Lipschutz </td>
      <td>B.Tech CSE</td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>An integrated app. to software engineering</td>
      <td>Pankaj,jalote</td>
      <td>B.Tech CS</td>
    </tr>

    <tr>
      <th scope="row">7</th>
      <td>An intro. To object oriented programming</td>
      <td>Timothy,budd</td>
      <td>B.Tech CS</td>
    </tr>

    <tr>
      <th scope="row">8</th>
      <td>An introduction to data structures with applications</td>
      <td>Tremblay</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">9</th>
      <td>An introduction to database systems</td>
      <td>Bipin.C</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">10</th>
      <td>An introduction to database systems</td>
      <td>Bipin,desai</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">11</th>
      <td>Artificial intelligence</td>
      <td>singh,Akansha</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">12</th>
      <td>Artificial tntelligence and intelligence</td>
      <td>N.P. podhy</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">13</th>
      <td>Autocad 2009 Essentials</td>
      <td>Hamad,M</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">14</th>
      <td>Basics of computer aided geometric design of alg. Application</td>
      <td>M,ganesh</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">15</th>
      <td>Beginner's guide to C++</td>
      <td>Gagan,Sahoo</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">16</th>
      <td>Beginner's guide to visual basic-6</td>
      <td>Gagan,Sahoo</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">17</th>
      <td>C by example</td>
      <td>Noel,Kalicharan</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">18</th>
      <td>C how to program</td>
      <td>P.J.deitel</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">19</th>
      <td>C in depth</td>
      <td>S.K.srivastsva</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">20</th>
      <td>C projects</td>
      <td>Yashavant,kanetka</td>
      <td>B.Tech CS</td>
    </tr>

<tr>
      <th scope="row">21</th>
      <td>C++ how to programming</td>
      <td>P.J.deitel</td>
      <td>B.Tech CS</td>
    </tr>
<tr>
      <th scope="row">22</th>
      <td>C++ program design</td>
      <td>G.S,baluja</td>
      <td>B.Tech CS</td>
    </tr>

{% for book in books %}
    <tr>
      <th scope="row">22</th>
      <td>{{book.book_name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.forstudent}}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
    <script src="{% static 'assets_books/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets_books/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets_books/js/Table-with-search.js' %}"></script>
    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EGI StudentsPortal</h3>
            <p>
              28km mile stone, Agra-Delhi Highway, NH-2, Farah, Mathura -281122 <br><br>
              <strong>Phone:</strong>+91 96392 34234<br>
              <strong>Email:</strong> egistudenPortal@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
           <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'main' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'team' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'sources' %}">Sources</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

    

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>EGI StudentsPortal</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://www.instagram.com/codingnova/">Coding Novas</a>
        </div>
      </div>
         <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/codingnova" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/codingnova" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/codingnova/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.github.com/codingnova/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>

</body>

</html>
</body>

</html>